* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMonoNerdFont;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(50, 50, 50, 1);
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#custom-updates,
#custom-language,
#mpd {
  padding: 0 10px;
  color: #fbf1c7;
  border-bottom: 2 solid #fbf1c7;
  border-radius: 0;
}

#workspaces,
#workspaces button.active {
  color: #fbf1c7;
  border-radius: 0;
  padding: 0 0;
  transition: padding 0.05s ease-in-out;
}

#workspaces button.active {
  padding: 0 15;
  border-bottom: 2 solid #fbf1c7;
}

/* #workspaces button.urgent { */
/*   background-color: #eb4d4b; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* #clock { */
/* } */

#battery.charging {
  background-color: #26a65b;
}

#battery.full {
  color: #98971a;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#cpu {
}

#memory {
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #90b1b1;
}

/*TODO: do disconnected color*/
#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  color: #f45042;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
