window {
  background-color: #323232;
  border: 5px solid #282828;
  border-radius: 5;
}

#entry {
  color: #d8d1b4;
  padding: 5px;
  font-size: 20px;
  font-family: JetBrainsMonoNerdFont;
  border-bottom: 3px solid #282828;
  background-color: #2d2d2d;
  margin-bottom: 5px;
}

#entry:selected {
  border: 2px solid #1c1c1c;
  outline: none;
  background-color: #282623;
}

#text:selected {
  color: #f7f1d7;
}

#input {
  border: none;
  border-radius: 0px;
  border-bottom: 5px solid #282828;
  background-color: rgba(50, 50, 50, 1);
  color: #f8f8f2;
  font-family: JetBrainsMonoNerdFont;
  font-size: 18px;
  min-height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#input:focus {
  box-shadow: 0px 0px 0px 1px #fbf1c7 inset;
}

#inner-box {
  margin: 10px 10px;
}

#scroll {
  padding-bottom: 5px;
}
